@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --main-color: #ff7900;
  --bg-color: #090909;
  --haeder-color: #101010;
  --box-color: #18191a;
  --input-color: #333434;
  --gray-color: #727272;
  --white-color: #fff;
  --padding-top: 100px;
  --padding-bottom: 100px;
}

::selection {
  color: var(--white-color);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0px 0px 30px 30px var(--main-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 90vw;
  margin: auto;
}

/*================= [Start Header] =================*/
.head {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  background-color: var(--header-color);
  backdrop-filter: blur(14px);
}

.head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.head .container .logo a {
  height: 56px;
}

.head .container .logo img {
  width: 180px;
}

.head .container .links .ul-links {
  display: flex;
  gap: 35px;
}

.head .container .links .ul-links li a {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.head .container .links .ul-links li a:hover {
  color: var(--main-color);
}

.head .container .links .ul-links li a.active::before {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  top: -30px;
  border-radius: 12px;
  transition: 0.3s;
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}

.head .container .links .ul-links li a.active:hover::before {
  transform: scaleX(1.1);
}

.head .container .btns {
  display: flex;
  gap: 10px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.head .container .btns i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: var(--main-color);
}

.head .container .btns i:hover {
  filter: brightness(90%);
  border-radius: 50%;
}

.head .container .btns .cart-icon {
  position: relative;
}

.head .container .btns .cart-icon::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
  background-color: #ff7900;
}

.head .container .logo .menu-icon {
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  padding: 1px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  border-radius: 10px;
  background-color: var(--main-color);
}

.head .container .logo .menu-icon:hover,
.menu .container .menu-items .items .img-box .product-info {
  filter: brightness(90%);
}

.head .container .logo .menu-icon i {
  transform: scaleX(0.8);
  margin-bottom: 2px;
}

@media (max-width: 900px) {
  .head .container .links {
    display: none;
  }

  .head .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .head .container .logo .menu-icon {
    display: flex;
  }
}

/*================= [End Header] =================*/
/*================= [Start Nav Menu] =================*/
.nav-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 99999999999;
  top: 0;
  text-align: center;
  transform: translateX(100%);
  transition: 0.5s;
  background: rgb(34 20 8 / 30%);
}

.close-menu {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 60px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 14px;
  background: var(--main-color);
}

.close-menu i {
  transition: 0.6s;
  margin-bottom: 2px;
}

.close-menu:hover i {
  transform: rotate(180deg);
}

.nav-links {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.nav-links a {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 26px;
  color: white;
  background-color: rgb(80 62 34 / 30%);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.nav-links a:hover {
  background: none;
  transition: 0.3s;
}

.nav-menu.active-menu {
  transform: translateX(0);
}

/*================= [End Nav Menu] =================*/
/*================= [Start Home] =================*/
.home {
  position: relative;
}

.home .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  gap: 45px;
}

.home .container .home-img {
  position: relative;
  animation: up-down 2s ease-in infinite;
}

.home .container .home-img .burger {
  width: 600px;
  filter: drop-shadow(-20px 10px 20px rgba(0, 0, 0, 0.5294117647));
}

.overflow {
  position: absolute;
  width: 100%;
  top: 0;
  overflow-x: clip;
}

.overflow-1::before,
.overflow-1::after {
  content: "";
  width: 400px;
  height: 400px;
  position: fixed;
  background-color: var(--main-color);
  filter: blur(-32px);
  border-radius: 50%;
  top: -335px;
}

.overflow-1::before {
  right: -290px;
}

.overflow-1::after {
  left: -290px;
}

.home .container .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .container .info h2 {
  font-size: 40px;
}

.home .container .info h2 span {
  color: var(--main-color);
}

.home .container .info p {
  font-size: 25px;
  max-width: 80%;
  font-weight: 500;
}

.home .container .info a {
  width: fit-content;
  padding: 3px 23px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid var(--main-color);
}

.home .container .info a:hover {
  background-color: var(--main-color);
}

@media (max-width: 1270px) {
  .home .container .home-img .burger {
    width: 450px;
  }

  .home .container .info h2 {
    font-size: 35px;
  }

  .home .container .info p {
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  .home .container {
    flex-direction: column;
    padding-top: 155px;
    justify-content: normal;
  }

  .home .container .home-img .burger {
    width: 400px;
  }

  .home .container .info {
    align-items: center;
  }

  .home .container .info p {
    text-align: center;
  }
}

@media (max-width: 415px) {
  .home .container .home-img .burger {
    width: 320px;
  }
}

/*================= [End Home] =================*/
/*================= [Start Main Title] =================*/
.main-title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 180px auto 60px;
  width: fit-content;
  position: relative;
  padding: 0 10px;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}

.main-title::before {
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::after {
  left: -30px;
  top: 55%;
  transform: translateY(-55%);
}

.main-title:hover::before {
  z-index: -1;
  animation: right-move 0.6s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: left-move 0.6s linear forwards;
}

/*================= [End main Title] =================*/
/*************start categories section************************/
.categories {
  padding-top: 30px;
  padding-bottom: var(--padding-bottom);
}

.categories-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}
.categories-items .items img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.categories-items .items img.lazy {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.categories .items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--box-color);
  border-radius: 20px;
  height: 270px;
  transition: 0.8s;
}

.categories .items:hover {
  transform: translateY(-10px);
}

.categories .items:hover::before {
  width: calc(100% - 20px);
}

.categories .items::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: 0.8s;
  box-shadow: 0px 0px 10px var(--main-color);
}

.categories-items .items img {
  width: 150px;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 24px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.categories-items .items img:hover {
  border-radius: 50%;
}

.categories-items .items p {
  font-size: 30px;
}

@media (max-width: 990px) {
  .categories-items .items {
    margin-bottom: 20px;
  }
}

/***********end categories section*****************/

/**************start food details***************/
.food-details .food-information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.food-details .food-information > div {
  display: flex;
  align-items: center;
}

.food-details .food-information img {
  width: 500px;
  max-width: 100%;
}

.food-details .food-information .food-info span {
  color: var(--gray-color);
}

.food-details .food-information .food-info h1 {
  color: var(--main-color);
  font-size: 40px;
}

.food-details .food-information .food-info p {
  color: var(--white-color);
  min-width: 350px;
  max-width: 100%;
  margin: 30px;
}

.food-details .food-information .food-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.food-details .food-information .food-icons .food-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.food-details .food-information .food-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.food-details .food-information .food-footer span {
  color: var(--main-color);
  font-size: 25px;
}

.food-details .food-information .food-footer button {
  padding: 5px 20px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--input-color);
  border: none;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.food-details .food-information .food-footer button:hover {
  background-color: var(--main-color);
}

.food-details .food-information .food-footer #heart {
  width: 40px;
  height: 40px;
  fill: #fff;
  cursor: pointer;
}

.food-details .food-information .food-footer #heart:hover path {
  fill: var(--main-color);
}

@media (max-width: 900px) {
  .food-details .food-information > div {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .food-details .food-information img {
    width: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .categories-items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .food-details .food-information .food-icons {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .food-details {
    text-align: center;
  }

  .food-details .food-footer #heart {
    margin-bottom: 10px;
  }
}

.container .swiper .swiper-wrapper  {
padding-bottom: var(--padding-bottom);
text-align: center;

}

.swiper .swiper-pagination-bullet-active {
  background: var(--main-color);
}

.container .swiper .swiper-wrapper .swiper-slide {
  background-color: var(--input-color);
  padding: 10px;
  margin: 3px;
  border-radius: 20px;
  cursor: pointer;
width: 30% !important;
}
.swiper-slide span, h2{
  font-size: 30px;
  font-weight: bold;
}

.swiper .swiper-wrapper .swiper-slide:hover {
  background-color: var(--main-color);
}
.swiper .swiper-wrapper .swiper-slide:hover img {
  transform: scale(1.1);
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--gray-color);
  outline: none;
}
.swiper .swiper-wrapper img {
  width: 200px;
  transition: 0.5s;
}
@media(max-width:800px){
  .container .swiper .swiper-wrapper .swiper-slide {
    width: 100% !important;
  }
}

/*================= [Start Menu] =================*/
.menu .container .menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.menu .container .menu-items .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 26px;
  background-color: var(--box-color);
}

.menu .container .menu-items .items .img-box {
  height: 250px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
}

.menu .container .menu-items .items .img-box .product-info {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--gray-color);
}

.menu .container .menu-items .items .img-box img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.menu .container .menu-items .items .img-box:hover img {
  transform: scale(1.1);
}

.menu .container .menu-items .items h2 {
  font-size: 26px;
  text-align: center;
}

.menu .container .menu-items .items .product-details {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray-color);
  font-weight: bold;
}

.menu .container .menu-items .items .product-btns {
  display: flex;
  gap: 10px;
}

.menu .container .menu-items .items .product-btns span {
  background-color: var(--main-color);
}

.menu .container .menu-items .items .product-btns .product-price {
  width: -webkit-fill-available;
}

.menu .container .menu-items .items .product-btns .cart-product {
  width: 25%;
}

.menu .container .menu-items .items .product-btns .product-price,
.menu .container .menu-items .items .product-btns .cart-product {
  cursor: pointer;
  transition: 0.3s;
  padding: 4px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 9px;
}

.menu .container .menu-items .items .product-btns .product-price:hover,
.menu .container .menu-items .items .product-btns .cart-product:hover {
  filter: brightness(90%);
}

/*================= [End Menu] =================*/
/*================= [Start Footer] =================*/
footer {
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  background-color: var(--box-color);
}

footer span {
  font-weight: bold;
  color: var(--main-color);
}

/*================= [End Footer] =================*/

/*************************contact us***************************/
.contact-us {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  margin-top: 100px;
}

.contact-us .container {
  display: flex;
  gap: 20px;
}

.contact-us .customer-details {
  background-color: var(--box-color);
  border-radius: 20px;
  width: calc(100% - 250px);
}

.contact-us .customer-details form .form-group {
  padding: 20px;
}

.contact-us .customer-details form .form-group input,
textarea {
  width: 97%;
  border: none;
  outline: none;
  margin: 10px;
  background-color: var(--input-color);
  padding: 10px 20px;
  border-radius: 14px;
}

.contact-us .customer-details form .form-group:nth-child(3) {
  height: 300px;
}

.contact-us .customer-details form .form-group:nth-child(3) textarea {
  height: 80%;
  resize: none;
}

.contact-us .customer-details form .form-group label {
  font-size: 25px;
}

.contact-us .customer-details form .form-group input:focus {
  border: none;
  outline: none;
}

.contact-us .customer-details form .form-group button {
  width: 100%;
  background: var(--main-color);
  padding: 10px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.contact-us .container .tafwila-info {
  min-width: 350px;
}

.contact-us .container .tafwila-info .tafwila-telphones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--box-color);
  padding: 30px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.contact-us .container .tafwila-info .tafwila-telphones .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: var(--main-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.contact-us
  .container
  .tafwila-info
  .tafwila-telphones
  .tafwila-contact-numbers {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.contact-us .container .tafwila-info .tafwila-address {
  background-color: var(--box-color);
  padding: 40px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.contact-us .container .tafwila-info .tafwila-address ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.contact-us .container .tafwila-info .tafwila-address ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--main-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: 3%;
}

@media (max-width: 1200px) {
  .contact-us {
    margin-top: 85px;
  }

  .contact-us .container {
    flex-direction: column;
  }

  .contact-us .customer-details,
  .contact-us .container .tafwila-info {
    width: 100%;
  }

  .contact-us .customer-details {
    margin-bottom: 50px;
  }

  .contact-us .container .tafwila-info {
    margin-bottom: 100px;
  }
}

/*================= [Start Animation] =================*/
@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

/*================= [End Animation] =================*/

/*************404 page****************/
.background-notFound {
  padding-top: var(--padding-top);
}
.background-notFound img {
  width: 100%;
}
