@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Cairo", sans-serif;
}
html,body{
  overflow-x: hidden;
}

:root {
  --main-color: #ff7900;
  --bg-color: #090909;
  --haeder-color: #101010;
  --box-color: #18191a;
  --input-color: #333434;
  --gray-color: #727272;
  --white-color: #fff;
}

::selection {
  color: var(--white-color);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0px 0px 30px 30px var(--main-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 90vw;
  margin: auto;
}

/*================= [Start Header] =================*/
.head {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  background-color: var(--header-color);
  -webkit-backdrop-filter: blur(14px);
  -moz-backdrop-filter: blur(14px);
  -ms-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.head .container .logo a {
  height: 56px;
}

.head .container .logo img {
  width: 180px;
}

.head .container .links .ul-links {
  display: flex;
  gap: 35px;
}

.head .container .links .ul-links li a {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.head .container .links .ul-links li a:hover {
  color: var(--main-color);
}

.head .container .links .ul-links li a.active::before {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  top: -30px;
  border-radius: 12px;
  transition: 0.3s;
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}

.head .container .links .ul-links li a.active:hover::before {
  transform: scaleX(1.1);
}

.head .container .btns {
  display: flex;
  gap: 10px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.head .container .btns i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: var(--main-color);
}

.head .container .btns i:hover {
  filter: brightness(90%);
  border-radius: 50%;
}

.head .container .btns .cart-icon {
  position: relative;
}

.head .container .btns .cart-icon::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
  background-color: #ff7900;
}

.head .container .logo .menu-icon {
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  padding: 1px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  border-radius: 10px;
  background-color: var(--main-color);
}

.head .container .logo .menu-icon:hover {
  filter: brightness(90%);
}

.head .container .logo .menu-icon i {
  transform: scaleX(0.8);
  margin-bottom: 2px;
}

@media (max-width: 900px) {
  .head .container .links {
    display: none;
  }

  .head .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .head .container .logo .menu-icon {
    display: flex;
  }
}

/*================= [End Header] =================*/
/*================= [Start Nav Menu] =================*/
.nav-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 99999999999;
  top: 0;
  text-align: center;
  transform: translateX(100%);
  transition: 0.5s;
  background: rgb(34 20 8 / 30%);
}

.close-menu {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 60px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 14px;
  background: var(--main-color);
}

.close-menu i {
  transition: 0.6s;
  margin-bottom: 2px;
}

.close-menu:hover i {
  transform: rotate(180deg);
}

.nav-links {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.nav-links a {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 26px;
  color: white;
  background-color: rgb(80 62 34 / 30%);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.nav-links a:hover {
  background: none;
  transition: 0.3s;
}

.nav-menu.active-menu {
  transform: translateX(0);
}

/*================= [End Nav Menu] =================*/
/*================= [Start Home] =================*/
.home {
  position: relative;
}

.home .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  gap: 45px;
}

.home .container .home-img {
  position: relative;
  animation: up-down 2s ease-in infinite;
}

.home .container .home-img .burger {
  width: 600px;
  filter: drop-shadow(-20px 10px 20px rgba(0, 0, 0, 0.5294117647));
}

.overflow {
  position: absolute;
  width: 100%;
  top: 0;
  overflow-x: clip;
}

.overflow-1::before,
.overflow-1::after {
  content: "";
  width: 400px;
  height: 400px;
  position: fixed;
  background-color: var(--main-color);
  filter: blur(-32px);
  border-radius: 50%;
  top: -335px;
}

.overflow-1::before {
  right: -290px;
}

.overflow-1::after {
  left: -290px;
}

.home .container .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .container .info h2 {
  font-size: 40px;
}

.home .container .info h2 span {
  color: var(--main-color);
}

.home .container .info p {
  font-size: 25px;
  max-width: 80%;
  font-weight: 500;
}

.home .container .info a {
  width: fit-content;
  padding: 3px 23px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid var(--main-color);
}

.home .container .info a:hover {
  background-color: var(--main-color);
}



@media (max-width: 1270px) {
  .home .container .home-img .burger {
    width: 450px;
  }

  .home .container .info h2 {
    font-size: 35px;
  }

  .home .container .info p {
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  .home .container {
    flex-direction: column;
    padding-top: 155px;
    justify-content: normal;
  }

  .home .container .home-img .burger {
    width: 400px;
  }

  .home .container .info {
    align-items: center;
  }

  .home .container .info p {
    text-align: center;
  }
}

@media (max-width: 415px) {
  .home .container .home-img .burger {
    width: 320px;
  }
}

/*================= [End Home] =================*/
/*================= [Start Animation] =================*/
@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

/*================= [End Animation] =================*/


/*************start categories section************************/
.categories {
  padding-top: 30px;
  padding-bottom: 100px;

}

.main-title {
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto 60px;
  width: fit-content;
  position: relative;

}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: var(--main-color);
}

.main-title::before {
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.main-title::after {
  left: -15px;
  top: 55%;
  transform: translateY(-55%);
  -webkit-transform: translateY(-55%);
  -moz-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  -o-transform: translateY(-55%);
}


.categories-items {
  display: flex;
  justify-content: center;
  align-items: center;

}

.categories .items {
  width: 300px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.categories-items .items img {
  width: 150px;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-bottom: 10px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.categories-items .items p {
  font-size: 30px;
}

.categories-items .items img:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

@media(max-width:990px) {
  .categories-items {
    flex-direction: column;

  }

  .categories-items .items {
    margin-bottom: 20px;
  }

}

/***********end categories section*****************/

/**************start food details***************/
.food-details {
  padding-top: 100px;

}

.food-details .food-information {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.food-details .food-information img {
  width: 500px;
 max-width: 100%;
}


.food-details .food-information .food-info span {
  color: var(--gray-color);
}

.food-details .food-information .food-info h1 {
  color: var(--main-color);
  font-size: 40px;
}

.food-details .food-information .food-info p {
  color: var(--white-color);
  min-width: 350px;
  max-width: 100%;
  margin: 30px;
}

.food-details .food-information .food-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-details .food-information .food-icons .food-list {
  display: flex;
  justify-content: space-between;


}

.food-details .food-information .food-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.food-details .food-information .food-footer span {
  color: var(--main-color);
  font-size: 25px;
}

.food-details .food-information .food-footer button {
  padding: 5px 20px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--input-color);
  border: none;
  cursor: pointer;
}

.food-details .food-information .food-footer button:hover {
  background-color: var(--main-color);
}

.food-details .food-information .food-footer #heart {
  width: 40px;
  height: 40px;
  fill: #fff;
  cursor: pointer;
}

.food-details .food-information .food-footer #heart:hover path {
  fill: var(--main-color);

}
@media (max-width:400px){
  .food-details .food-information img{
    width: 300px ;
  }
}
@media(max-width:1200px) {
  .food-details {
    text-align: center;
  }

  .food-details .food-information,
  .food-details .food-footer,
  .food-details .food-information .food-icons,
  .food-details .food-information .food-list {
    flex-direction: column;

  }
  .food-details .food-footer #heart{
    margin-bottom: 10px;
  }

}